/**jy.wxss**/
.container {
    background-color: #f7f7f7;
    padding: 0;
}
.user-jy {
    display: flex;
    background: #fefefe;
    border-bottom: 1rpx solid #eee;
    width: 100%;
}
.user-jy-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 11pt;
    line-height: 150%;
    height: 150rpx;
    padding: 20rpx;
    border-right: 1rpx solid #eee;
}
.user-jy-dbet {
    border: none;
}
.user-jy-hd {
    color: #777;
}
.user-jy-bd {
    display: flex;
    justify-content: center;
}
.user-jy-value {
    font-size: 28pt;
    color: #73b4ef;
    font-weight: bold;
    line-height: 150%;
    padding: 0 20rpx 0 30rpx;
}
.user-jy-text {
    color: #999;
    font-size: 10pt;
    line-height: 200%;
    align-self: flex-end;
}
.book-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 25rpx 30rpx;
    width: 100%;
}
.current-type {
    color: #777;
    font-size: 10pt;
    line-height: 200%;
    margin-bottom: 15rpx;
}
.book-wraper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    padding: 20rpx 0;
    margin-bottom: 20rpx;
    background: #fff;
    border-radius: 3px;
}
.book-name {  
    font-size: 15pt;
    line-height: 135%;
    text-align: left;
     background: #fff;
}
.book-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    padding: 10rpx 20rpx;
}
.book-date {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 20rpx;
    font-size: 11pt;
    color: #888;
}
.book-date text {
    line-height: 150%;
}

.book-img {
    margin-right: -20rpx;
    height: 200rpx;
    width: 200rpx;
    opacity: 0.25;
}

/* ================= 漂浮天气 ========== */
.flow_btn{
  position: fixed;
  width:40px;
  height:40px;
bottom: 30px;
right: 30px;
}
