<block wx:for="{{toolList}}" wx:key="name" wx:for-item="itemName">
  <view class="book-wraper" bindtap="itemTapManager" id="{{itemName.id}}">
    <view class="book-info">
      <text class="book-name">{{itemName.name}}</text>
      <view class="book-date">
        <text>排名：{{itemName.index}}</text>
      </view>
    </view>
    <image class="book-img" src="{{itemName.img}}"></image>
  </view>
</block>


  <!-- 7.天气 -->
<view bindtap='actionManager' id='天气预报'>
  <image class="flow_btn" src="https://chire.oss-cn-hangzhou.aliyuncs.com/smallprogream/main/main_add.png"></image>
</view>