
.book-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 25rpx 30rpx;
    width: 100%;
}
.current-type {
    color: #777;
    font-size: 10pt;
    line-height: 200%;
    margin-bottom: 15rpx;
}
.book-wraper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    padding: 20rpx 0;
    margin-bottom: 20rpx;
    background: #fff;
    border-radius: 3px;
}
.book-name {  
    font-size: 15pt;
    line-height: 135%;
    text-align: center;
}
.book-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10rpx 20rpx;
}
.book-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20rpx;
    font-size: 11pt;
    color: #888;
}
.book-date text {
    line-height: 150%;
}

.book-img {
    margin-right: -20rpx;
    height: 200rpx;
    width: 200rpx;
    opacity: 0.25;
}

/* ================= 漂浮天气 ========== */
.flow_btn{
  position: fixed;
  width:40px;
  height:40px;
bottom: 30px;
right: 30px;
}