<!-- <import src="../../../utils/wxParse/wxParse.wxml"/> 
<view class="wxParse">
    <template is="wxParse" data="{{wxParseData:article.nodes}}"/>
</view> -->
<rich-text nodes="{{article}}"></rich-text>