<view class="page__hd">
  <view class="page__title">工具</view>
  <view class="page__desc">首页工具的展示与隐藏</view>
</view>


<view class="page__bd">
  <view class="weui-cells__title">工具名称</view>
  <view class="weui-cells weui-cells_after-title">
    <view class="weui-cell ">
      <view class="weui-cell__hd">
        <view class="weui-label">工具名称</view>
      </view>
      <view class="weui-cell__bd">
        <input class="weui-input" bindinput="nameInputManager" value="{{nameInput}}" placeholder="请输入工具名称" />
      </view>
    </view>
  </view>
  <view class="weui-cells__title">选择图片</view>
  <!-- 上传控件 -->
  <view class="page__bd">
    <view class="weui-cells">
      <view class="weui-cell">
        <view class="weui-cell__bd">
          <view class="weui-uploader">
            <view class="weui-uploader__bd">
              <view class="weui-uploader__files" id="uploaderFiles">
                <block wx:for="{{imageList}}" wx:key="*this">
                  <view class="weui-uploader__file" hover-class="none" data-tip="{{item}}" data-url="{{item}}" catchtap='imgSelectedManager' id="{{item}}">
                    <image class="weui-uploader__img" src="{{item}}" mode="aspectFill" />
                  </view>
                </block>
              </view>
              <view class="weui-uploader__input-box">
                <view class="weui-uploader__input" bindtap="chooseFiles"></view>
              </view>
            </view>
          </view>
        </view>
      </view>
    </view>
  </view>

  <view class="weui-cells__title">工具排位</view>
  <view class="weui-cells weui-cells_after-title">
    <view class="weui-cell ">
      <view class="weui-cell__hd">
        <view class="weui-label">工具排位</view>
      </view>
      <view class="weui-cell__bd">
        <input class="weui-input" bindinput="toolIndexInputManager" value="{{toolIndexInput}}" placeholder="请输入工具排位，1.2.3等" />
      </view>
    </view>
  </view>

  <view class="weui-cells__title">开关</view>
  <view class="weui-cells weui-cells_after-title">
    <view class="weui-cell weui-cell_switch">
      <view class="weui-cell__bd">是否重要</view>
      <view class="weui-cell__ft">
        <switch bindchange="switchChanged" checked="{{switchInput}}"/>
      </view>
    </view>
  </view>


  <view class="weui-btn-area">
    <block wx:if="{{transferId.length> 0}}">
      <button class="weui-btn" type="primary" bindtap="updateManager">修改</button>
      <button class="weui-btn" type="warn" bindtap="deleteManager">删除</button>
    </block>
    <block wx:else>
      <button class="weui-btn" type="primary" bindtap="addManager">添加</button>
    </block>
  </view>
</view>