<view catchtouchend="format" class="toolBar">
  <!-- 日期 -->
  <i class="iconfont icon-date:before" catchtouchend="insertDate"></i>
  <!-- 分割线 -->
  <i class="iconfont icon-fengexian:before" catchtouchend="insertDivider"></i>
  <!-- 插入图片 -->
  <i class="iconfont icon-charutupian" catchtouchend="insertImage"></i>
  <!-- 勾选列表 -->
  <i class="iconfont icon--checklist" data-name="list" data-value="check"></i>
 <!-- 下标 -->
  <i class="iconfont icon-youxupailie {{formats.list === 'ordered' ? 'ql-active' : ''}}" data-name="list" data-value="ordered"></i>
  <!-- 点 -->
  <i class="iconfont icon-wuxupailie {{formats.list === 'bullet' ? 'ql-active' : ''}}" data-name="list" data-value="bullet"></i>

  <!-- 字体更大 -->
  <i class="iconfont icon-format-header-1 {{formats.header === 1 ? 'ql-active' : ''}}" data-name="header" data-value="{{1}}"></i>
  <!-- 字体变大 -->
  <i class="iconfont icon-format-header-2 {{formats.header === 2 ? 'ql-active' : ''}}" data-name="header" data-value="{{2}}"></i>
  <!-- 字体变大 -->
  <i class="iconfont icon-format-header-3 {{formats.header === 3 ? 'ql-active' : ''}}" data-name="header" data-value="{{3}}"></i>

  <!-- 字体加粗 -->
  <i class="iconfont icon-zitijiacu {{formats.bold ? 'ql-active' : ''}}" data-name="bold"></i>
  <!-- 字体斜体 -->
  <i class="iconfont icon-zitixieti {{formats.italic ? 'ql-active' : ''}}" data-name="italic"></i>
  <!-- 字体下划线 -->
  <i class="iconfont icon-zitixiahuaxian {{formats.underline ? 'ql-active' : ''}}" data-name="underline"></i>

 

  <!-- 删除线 -->
  <i class="iconfont icon-zitishanchuxian:before {{formats.strike ? 'ql-active' : ''}}" data-name="strike"></i>
  <!-- 文字下标 -->
  <i class="iconfont icon-zitixiabiao:before {{formats.script ? 'ql-active' : ''}}" data-name="script"></i>
  <!-- 左对齐 -->
  <i class="iconfont icon-zuoduiqi:before {{formats.align == 'left'? 'ql-active' : ''}}" data-name="align" data-value="left"></i>
  <!-- 居中 -->
  <i class="iconfont icon-juzhongduiqi:before {{formats.align == 'center'? 'ql-active' : ''}}" data-name="align" data-value="center"></i>
  <!-- 右对齐 -->
  <i class="iconfont icon-youduiqi:before {{formats.align == 'right' ? 'ql-active' : ''}}" data-name="align" data-value="right"></i>
  <!-- 文字颜色 -->
  <i class="iconfont icon-text_color:before" catchtouchend="colorChooseManager" id="color"></i>
   <!-- 文字颜色 -->
  <i class="iconfont icon-fontbgcolor" catchtouchend="colorChooseManager" id="bgcolor"></i>
  <!-- 撤销 -->
  <i class="iconfont icon-redo:before" catchtouchend="undoFormt"></i>
 
</view>

<scroll-view scroll-y style="height: {{editorHeight}}px;">
  <editor id="editor" class="ql-container" placeholder="{{placeholder}}" bindstatuschange="onStatusChange" bindready="onEditorReady">
  </editor>
</scroll-view>



<!-- 7.添加按钮 -->
<view bindtap='editAddManager' id='editManager'>
  <image class="flow_btn" src="https://chire.oss-cn-hangzhou.aliyuncs.com/smallprogream/main/main_add.png"></image>
</view>






<!-- 进行选择当前的用户类型状态 -->
<view class="weui-demo-dialog {{chooseUserTypeHasShow ? 'weui-demo-dialog_show' : ''}}">
  <view class="weui-mask" bindtap="closeDialog"></view>
  <view class="weui-half-screen-dialog">
    <view class="weui-half-screen-dialog__hd">
      <view class="weui-half-screen-dialog__hd__side">
        <view bindtap="closeDialog" class="weui-icon-btn weui-icon-btn_close">关闭</view>
      </view>
      <view class="weui-half-screen-dialog__hd__main">
        <text class="weui-half-screen-dialog__title">选择色值</text>
      </view>
    </view>
    <view class="weui-half-screen-dialog__bd">
    <color-picker class="color-picker" colorData="{{colorData}}" rpxRatio="{{rpxRatio}}" bindchangecolor="onChangeColor" ></color-picker>
   <button type="primary" class="weui-btn" bindtap="colorChooseSuccessed" id="{{singleItem.name}}">认证</button>
    </view>
  
  </view>
</view>